<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai image generator</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="main2">
     <div class="nav2">
        <h2>R-Verse</h2>
        <img class="nav2-img" src="../../assets/user_icon.png" alt="" />
      </div>
      
      <div class="greet2">
        <p><span>Hello, Dosto</span></p>
        <p>Kaise Madat karu aap logo ki?</p>
    </div>
      
        <div class="content">
            <div class="content-text">
          <label for="">Create an image from text prompt:</label>
          <input type="text" id="input">
          <button id="btn">Generate</button>
          </div>
          <div class="content-img">
          <img id="image" src="" alt="">
          </div>

        </div>
      </div>
      <script src="./script.js"></script>

</body>
</html>